<ion-header>
  <ion-toolbar>
    <ion-title>TimeLine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshAction($event)" slot="fixed" pullMin="40" pullMax="80">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let card of timeline">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{card.user.avatar}}">
      </ion-avatar>
      <ion-card-subtitle slot="end">
        {{card.date | timelineDatePipe}}
        
      </ion-card-subtitle>
      <ion-card-header>
        <ion-card-title>
          {{card.user.name}}
        </ion-card-title>
        <ion-card-subtitle>
          {{card.user.id}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-item>
    <ion-item>
      <ion-card-content>
        {{card.text}}
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-badge><ion-icon name="heart-outline"></ion-icon>{{card.heart}}</ion-badge>
    </ion-item>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
